    *{
        padding: 0;
        margin: 0;  
        box-sizing: border-box;
      }

      body{
        font-family: 'Karla', sans-serif;
        min-height: 100vh;
        padding: 1.5rem;
        background-color: hsl(204, 43%, 93%);
        display: grid;
        align-items: center;
        justify-items: center;
      }
     
      main{
        display: grid;
        background-color: #fff;
        max-width: 40rem;
        box-shadow: 0px 0px 2px hsl(204, 43%, 93%),0px 0px 5px hsl(204, 43%, 93%),0px 0px 10px hsl(204, 43%, 93%);
      }

      .padding{
        padding: 2.5rem;
      }

      h1, h2{
        margin-bottom: 0.9rem;
      }
      .component{
        color: #fff;
      }

      .primary-component p:first-of-type{
        margin-bottom: 1rem;
        color: hsl(71, 73%, 54%);
        font-weight: 700;
      }
      .primary-component p:last-of-type{
        line-height: 1.8;
      }
      
      .primary-component{
        color: hsl(204, 0%, 64%);
      }
      .secondary-components{
        color: hsl(204, 43%, 93%);
      }

      .price-component{
        background-color: hsl(179, 62%, 43%);
        width: 100%;
      }
       .price-component .price{
        display: flex;
        color: hsl(204, 43%, 93%);
        align-items: center;
        margin-bottom: 0.5rem;    
      }
      .price-component .price span{
        font-size: 2em;
        font-weight: bold;
        margin-right: 0.6rem;
        color: #fff;
      }
      .price-component .signup-btn{
        display: block;
        margin-top: 1.8rem;
        text-align: center;
        padding: 0.8rem;
        text-decoration: none;
        color: white;
        background-color: hsl(71, 73%, 54%);
        font-weight: bold;
        border-radius: 5px;
      }

      .info-component{
        background-color: hsla(179, 62%, 43%,0.8);
        width: 100%;
      }


      h1{
        color:  hsl(179, 62%, 43%);
        font-size: 1.5rem;
        }
      h2{
        color: hsl(71, 73%, 54%);
        font-size: 1.2rem;
        color: #fff;
        }
      ul{
        list-style-type: none;
      }

      @media (min-width: 700px) {
        main{
          grid-template-areas: 
          "primary primary"
          "price description";
        }
        .primary-component{
          grid-area: primary;
        }
        .price-component{
          grid-area: price;
        }
        .info-component{
          grid-area: description;
        }
      }
